/* You can add global styles to this file, and also import other style files */
/*
* Enables icons inside inputs
* https://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box
*/
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fas {
  position: absolute;
  padding: 11px;
  pointer-events: none;
}

/* align icon */
.left-addon .fas  { left:  0px;}
.right-addon .fas { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }